.player-overview_player-name-label {
    font-size: 30px;
}

.player-overview_player-name-container {
    width: 333px;
    height: 110px;
}

.player-overview_player-money-label {

}

.roll_template-continaer

.popup-container 
{
    width: 40%;
    height: 20%;
}