.panel-1-outer {
    background-color: #fff41c;
    border-radius: 10px;
    border-width: 5px;
    border-color: #267bfa;
    padding: 10px;
}

.panel-1-inner {
    background-color: #ff9d1c;
    border-radius: 10px;
    border-width: 5px;
    border-color: #da2828;
    padding: 10px;
}

.panel-1-inner-2 {
    background-color: #a4ff1c;
    border-radius: 10px;
    border-width: 5px;
    border-color: #c84016;
    padding: 10px;
}